<%- include('./partials/header') %>
<h1> Welcome <%= currentUser.username %></h1>
<h2><%= title %></h2>
<p>
  Welcome to <%= title %>, a very basic Express website developed as a tutorial
  example on MDN
</p>

<h3>Dynamic Content</h3>
<p>Books: <%= book_count %></p>
<p>Copies: <%= book_instance_count %></p>
<p>Copies Available: <%= book_instance_available_count %></p>
<p>Authors: <%= author_count %></p>
<p>Genres: <%= genre_count %></p>
<%- include('./partials/footer') %>
